/* Ana Sidebar Konteyneri */
.sidebar {
  height: 100vh;
  background-color: #ffffff; /* Projene uygun rengi ayarla */
  transition: width 0.3s ease; /* Pürüzsüz daralma animasyonu */
  overflow-x: hidden; /* Daraldığında içeriğin taşmasını önler */
  display: flex;
  flex-direction: column;
}

/* Açık ve Kapalı Genişlikler */
.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 80px;
}

/* Header (Logo ve Buton Kısmı) */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  
}

/* Logonun altındaki link çizgisini kaldırır */
.sidebar-header a {
  text-decoration: none;
}

/* Sidebar kapalıyken butonu ortala */
.sidebar.closed .sidebar-header {
  justify-content: center;
}

.logo-wrapper {
  transition: opacity 0.2s ease;
}

.logo-wrapper.hidden {
  opacity: 0;
  display: none;
}

/* Toggle Butonu */
.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
}

/* Menü Elemanları */
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #555;
  white-space: nowrap; /* Metnin alt satıra geçmesini önler */
}

/* Sidebar kapalıyken ikonları ortala */
.sidebar.closed .sidebar-item {
  justify-content: center;
  padding: 35px 0;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 1. İkonun asıl boyutunu büyüten kısım: */
  font-size: 20px;
  min-width: 24px;
}

.sidebar.open .sidebar-icon {
  margin-right: 15px; /* Sadece açıkken ikon ile yazı arasına boşluk koy */
}

/* Menü Yazıları (Labels) */
.sidebar-label {
  transition: opacity 0.3s ease;
  opacity: 1;
}

/* Sidebar kapalıyken yazıları gizle */
.sidebar.closed .sidebar-label {
  opacity: 0;
  display: none;
}